<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    酒店辅助订购系统
  </title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="/admin/css/x-admin.css" media="all">
</head>

<body>
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header header header-demo">
      <div class="layui-main">
        <a class="logo" href="./index.html">
          酒店辅助订票系统
        </a>
        <ul class="layui-nav" lay-filter="">
          <li class="layui-nav-item"><img src="/admin/images/logo.png" class="layui-circle"
              style="border: 2px solid #A9B7B7;" width="35px" alt=""></li>
          <li class="layui-nav-item">
            <a id="role" style="min-width: 90px;" href="javascript:;"></a>
            <dl class="layui-nav-child">
              <dd id="gr"><a href="javascript:;">个人资料</a></dd>
              <dd id="xg"><a href="javascript:;">修改密码</a></dd>
              <dd id="dingdan"><a href="javascript:;">订单查看</a></dd>
              <dd><a href="./login.html">切换帐号</a></dd>
              <dd><a href="javascript:;" onclick="exitLogin()">退出</a></dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>
    <div class="layui-side layui-bg-black x-side">
      <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="side">


            <li class="layui-nav-item">
                <a class="javascript:;" _href="/admin/preindex.html">
                    <i class="layui-icon layui-icon-template-1" style="top: 3px;">&#xe656;</i><cite>酒店</cite>
                </a>
<!--                <dl class="layui-nav-child">-->
<!--                    <dd id="idname">-->
<!--                        <a href="javascript:;" _href="./preindex.html">-->
<!--                            <cite>酒店首页</cite>-->
<!--                        </a>-->
<!--                    </dd>-->
<!--                </dl>-->
            </li>

          <li class="layui-nav-item">
            <a class="javascript:;" href="javascript:;">
              <i class="layui-icon" style="top: 3px;">&#xe630;</i><cite>管理员界面</cite>
            </a>
            <dl class="layui-nav-child">
                <dd id="idname">
                    <a href="javascript:;" _href="/admin/view/types/list.html">
                        <cite>订单管理</cite>
                    </a>
                </dd>
                <dd class="">
                    <a href="javascript:;" _href="/admin/view/user_manage/list.html">
                        <cite>用户管理</cite>
                    </a>
                </dd>
                <!--<dd class="">
                    <a href="javascript:;" _href="/admin/view/user_manage/list.html">
                        <cite>权限管理</cite>
                    </a>
                </dd>-->

            </dl>
          </li>

            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe657;</i><cite>支付</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd id="idname">
                        <a href="javascript:;" _href="/admin/view/pay/list.html">
                            <cite>支付订单提交</cite>
                        </a>
                    </dd>
                </dl>
            </li>


        </ul>
      </div>
    </div>
    <div class="layui-tab layui-tab-card site-demo-title x-main" lay-filter="x-tab" lay-allowclose="true">
      <div class="x-slide_left"></div>
      <ul class="layui-tab-title">
        <li class="layui-this">
          首页
          <i class="layui-icon layui-unselect layui-tab-close">ဆ</i>
        </li>
      </ul>
      <div class="layui-tab-content site-demo site-demo-body">
        <div class="layui-tab-item layui-show">
          <iframe frameborder="0" src="/admin/preindex.html" class="x-iframe"></iframe>
        </div>
      </div>
    </div>
    <div class="site-mobile-shade">
    </div>
  </div>
  <script src="/admin/lib/layui/layui.js" charset="utf-8"></script>
  <script src="/admin/js/x-admin.js"></script>
  <script src="/admin/js/common.js"></script>
  <script src="/admin/js/style.js"></script>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <script>
    if(localStorage.getItem("ulevel")==0){
      document.getElementById("idname").style.display="none";
    }
    document.getElementById("role").innerHTML=localStorage.getItem("name");
    // document.getElementById("role").innerHTML=localStorage.getItem("id");
    $("#xg").click(function(){
      layer.open({
      type: 2,
      title: '修改密码',
      shadeClose: true,
      shade: false,
      maxmin: true, //开启最大化最小化按钮
      area: ['493px', '600px'],
      content: 'view/user_info/xg.html'
    });
    })
    $("#gr").click(function(){
      layer.open({
      type: 2,
      title: '个人资料',
      shadeClose: true,
      shade: false,
      maxmin: true, //开启最大化最小化按钮
      area: ['493px', '600px'],
      content: 'view/user_info/list.html'
    });
    })
    $("#dingdan").click(function(){
      layer.open({
        type: 2,
        title: '订单查看',
        shadeClose: true,
        shade: false,
  maxmin: true, //开启最大化最小化按钮
  area: ['1200px', '600px'],
  content: 'view/types/list.html'
  });
  })
  </script>
</body>

</html>