<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic page needs
	============================================ -->
	<title>Requiry</title>
	<meta charset="utf-8">
	<meta name="keywords" content="html5 template, best html5 template, best html template, html5 basic template, multipurpose html5 template, multipurpose html template, creative html templates, creative html5 templates" />
	<meta name="description" content="PortKey is a beautiful and creative travel booking HTML template for any travel designs" />
	<meta name="author" content="Magentech">
	<meta name="robots" content="index, follow" />
<!-- Mobile specific metas
	============================================ -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- Favicon
	============================================ -->



	<style type="text/css">
	body{font-family: 'Libre Franklin', sans-serif;}
</style>
	<link rel="stylesheet" href="../../static/personal/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/personal/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="../../static/personal/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../static/personal/css/footer1.css">
	<link rel="stylesheet" href="../../static/personal/css/header1.css">
	<link rel="stylesheet" href="../../static/personal/css/jquery-ui.min.css">
	<link rel="stylesheet" href="../../static/personal/css/lib.css">
	<link rel="stylesheet" href="../../static/personal/css/miniColors.css">
	<link rel="stylesheet" href="../../static/personal/css/owl.carousel.css">
	<link rel="stylesheet" href="../../static/personal/css/quickview.css">
	<link rel="stylesheet" href="../../static/personal/css/responsive.css">
	<link rel="stylesheet" href="../../static/personal/css/so-categories.css">
	<link rel="stylesheet" href="../../static/personal/css/so-category-slider.css">
	<link rel="stylesheet" href="../../static/personal/css/so-listing-tabs.css">
	<link rel="stylesheet" href="../../static/personal/css/so-newletter-popup.css">
	<link rel="stylesheet" href="../../static/personal/css/so_megamenu.css">
	<link rel="stylesheet" href="../../static/personal/css/so_searchpro.css">
	<link rel="stylesheet" href="../../static/personal/css/so_sociallogin.css">
	<link rel="stylesheet" href="../../static/personal/css/theme.css" id="color_scheme">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600,700,800&display=swap" rel="stylesheet">
	<style type="text/css">
		body{font-family: 'Libre Franklin', sans-serif;}
	</style>

</head>

<body class="account res layout-1 layout-subpage">

	<div id="wrapper" class="wrapper-fluid banners-effect-10">


		<!-- Header Container  -->
		<header id="header" class=" typeheader-1">
			<!-- Header Top -->
			<div class="header-top hidden-compact">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-xs-6 header-logo pull-left">
							<div class="navbar-logo">
								<a href="../../../../../../index.html"><img src="../../static/personal/image/logo.png" alt="Your Store" width="118" height="36" title="Your Store"></a>
							</div>
						</div>

						<div class="book pull-right" id="log">
							<a href="login.html" id="logo">登陆</a>
							<div class="layui-side-scroll">
							</div>
						</div>


						<div class="search-top pull-right">

							<form method="GET" action="">
								<div id="sw_search" class="search input-group">
									<div class="content-search">
										<input class="autosearch-input" type="text" value="" size="50" autocomplete="off" placeholder="Search..." name="s">	
										<span class="input-group-btn">
											<button type="submit" class="fa fa-search button-search-pro form-button"></button>
										</span>
									</div>
								</div>
							</form>
						</div>
						<!-- Menuhome -->
						<div class="header-menu pull-right">
							<div class="megamenu-style-dev megamenu-dev">
								<div class="responsive">
									<nav class="navbar-default">
										<div class="container-megamenu horizontal">
											<div class="navbar-header">
												<button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
												</button>
											</div>
											<div class="megamenu-wrapper">
												<span id="remove-megamenu" class="fa fa-times"></span>
												<div class="megamenu-pattern">
													<div class="container">
														<ul class="megamenu" data-transition="slide" data-animationtime="500">
															<li class="menu-home with-sub-menu hover">
																<p class="close-menu"></p>
																<a href="#" class="clearfix">
																	<strong>
																		主页导航
																	</strong>
																</a>
																<div class="sub-menu" style="width: 40%;">
																	<div class="content">
																		<div class="row">
																			<div class="col-md-12">
																				<ul class="row-list">
																					<li><a class="subcategory_item" href="preindex.html">主页</a></li>
																					<li><a class="subcategory_item" href="../../../../../../home2.html">Home Page 2</a></li>
																					<li><a class="subcategory_item" href="../../../../../../home3.html">Home Page 3</a></li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
															<li class="style-page with-sub-menu hover">
																<p class="close-menu"></p>
																<a  class="clearfix">
																	<strong>
																		Tour
																	</strong>
																	<span class="labelwordpress"></span>
																</a>
																<div class="sub-menu" style="width: 40%;">
																	<div class="content">
																		<div class="row">
																			<div class="col-md-12">
																				<ul class="row-list">
																					<li><a class="subcategory_item" href="../../../../../../tour.html">Tour List</a></li>
																					<li><a class="subcategory_item" href="../../../../../../tour.html">Tour Grid</a></li>
																					<li><a class="subcategory_item" href="../../../../../../tour-detail.html">Tour Single</a></li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
															<li class="style-page with-sub-menu hover">
																<p class="close-menu"></p>
																<a  class="clearfix">
																	<strong>
																		Destination
																	</strong>
																	<span class="labelNew"></span>
																</a>
																<div class="sub-menu" style="width: 90%;">
																	<div class="content">
																		<div class="row">
																			<div class="col-md-6">
																				<h3>Top destinations</h3>
																				<ul class="row-list">
																					<li><a class="subcategory_item" href="../../../../../../destination-detail.html">Viet Nam</a></li>
																					<li><a class="subcategory_item" href="../../../../../../destination-detail.html">New Zeland</a></li>
																					<li><a class="subcategory_item" href="../../../../../../destination-detail.html">United State</a></li>
																					<li><a class="subcategory_item" href="../../../../../../destination-detail.html">Iceland</a></li>
																				</ul>
																			</div>
																			<div class="col-md-6">
																				<h3>destinations layout</h3>
																				<ul class="row-list">
																					<li><a class="subcategory_item" href="../../../../../../destination-list.html">destinations Fullwidth</a></li>
																					<li><a class="subcategory_item" href="../../../../../../destination-detail.html">destinations single</a></li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
															<li class="style-page with-sub-menu hover">
																<p class="close-menu"></p>
																<a  class="clearfix">
																	<strong>
																		Travel styles
																	</strong>
																</a>
																<div class="sub-menu" style="width: 40%;">
																	<div class="content">
																		<div class="row">
																			<div class="col-md-12">
																				<ul class="row-list">
																					<li><a class="subcategory_item" href="#">Adventure</a></li>
																					<li><a class="subcategory_item" href="#">Holiday</a></li>
																					<li><a class="subcategory_item" href="#">Family Tour</a></li>
																					<li><a class="subcategory_item" href="#">Cheap Trip</a></li>
																					<li><a class="subcategory_item" href="#">Open Tour</a></li>
																					<li><a class="subcategory_item" href="#">Historical</a></li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
															<li class="style-page with-sub-menu hover">
																<p class="close-menu"></p>
																<a href="#" class="clearfix">
																	<strong>
																		Blog
																	</strong>
																</a>
																<div class="sub-menu" style="width: 40%;">
																	<div class="content" >
																		<div class="row">
																			<div class="col-md-12">
																				<ul class="row-list">
																					<li><a class="subcategory_item" href="../../../../../../blog-grid.html">Blog Fullwidth</a></li>
																					<li><a class="subcategory_item" href="../../../../../../blog-list.html">Blog List</a></li>
																					<li><a class="subcategory_item" href="../../../../../../blog-sidebar.html">Blog Grid</a></li>
																					<li><a class="subcategory_item" href="../../../../../../blog-detail.html">Blog Single</a></li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
															<li class="style-page with-sub-menu hover">
																<p class="close-menu"></p>
																<a  class="clearfix">
																	<strong>
																		个人中心
																	</strong>
																</a>
																<div class="sub-menu" style="width: 40%;">
																	<div class="content" >
																		<div class="row">
																			<div class="col-md-12">
																				<ul class="row-list">
																					<li><a class="subcategory_item" href="personal.html">个人信息</a></li>
																					<li><a class="subcategory_item" href="order.html">订单信息</a></li>

																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //Header Top -->
		</header>
		<!-- //Header Container  -->

		<!-- Main Container  -->
		<div class="breadcrumbs">
			<img src="../../static/personal/image/6a972331a3c81ea6b28b97b9cec1b74.png" height="248" width="1915"/></div>
		<div class="main-container container main-require">
			<div class="row">
				<div id="content" class="col-md-9">
					<form action="" method="post" enctype="multipart/form-data" class="form-infomation clearfix">
						<fieldset class="your-infomation clearfix">
							<h3>个人信息</h3>

							<div class="form-item item1 required">
								<label class="control-label" for="name">姓名</label>
								<input type="text" name="name" value="" placeholder="" id="name">
							</div>
							<div class="form-item item1 required">
								<label class="control-label" for="name">密码</label>
								<input type="text" name="password" value="" placeholder="" id="password">
							</div>
							<div class="form-item item2 required">
								<label class="control-label" for="sex">性别</label>
								<input type="text" name="sex" value="" placeholder="" id="sex">
							</div>
							<div class="form-item item1 required">
								<label class="control-label" for="age">年龄</label>
								<input type="text" name="age" value="" placeholder="" id="age">
							</div>
							<div class="form-item item2 required">
								<label class="control-label" for="telephone">电话</label>
								<input type="text" name="phone" value="" placeholder="" id="phone">
							</div>
							<div class="form-item item1 required">
								<label class="control-label" for="age">邮箱</label>
								<input type="text" name="email" value="" placeholder="" id="email">
							</div>
							<div class="form-item item2 required">
								<label class="control-label" for="zfb">支付宝</label>
								<input type="text" name="zfb" value="" placeholder="" id="zfb">
							</div>

							<div class="buttons clearfix">
							<input type="text" id="submit" value="修改信息" class="btn btn-primary"  onclick="window.location.href=''"/>
							</div>

						</fieldset>

					</form>
				</div>
				

		<!-- Footer Container -->
		<footer class="footer-container typefooter-1">
			<div class="footer-has-toggle" id="collapse-footer">
				<div class="so-page-builder">
					<div class="container-fluid page-builder-ltr">
						<div class="row row_mvtd footer--center2 row-color ">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_6fdl float_none container">
								<div class="row row_hwmc  ">
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col_6ps1 footer--link">
										<div class="footer-logo">
											<a href="../../../../../../index.html"><img src="../../static/personal/image/logo-footer.png" alt="Your Store" width="194" height="59" title="Your Store"></a>
										</div>
										<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form...</p>						
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col_6ps1 footer--link">
										<h3 class="title-footer">
											Address
										</h3>
										<ul class="about-list">
											<li><i class="fa fa-map-marker" aria-hidden="true"></i><span class="ab-pd">Ranelagh Place, Liverpool, L3 5UL, England</span></li>
											<li class="call-mail"><i class="fa fa-paper-plane" aria-hidden="true"></i><a class="ab-pd" href="mailto:contact@wpthemego.com">contact@wpthemego.com</a></li>
											<li class="call-phone"><i class="fa fa-mobile" aria-hidden="true"></i><a class="ab-pd" href="#">8 (495) 989—20—11</a></li>
										</ul>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col_6ps1 footer--link">
										<h3 class="title-footer">
											Useful Links
										</h3>
										<ul class="links">
											<li>
												<a href="../../../../../../index.html">Home</a>
											</li>
											<li>
												<a href="#">Shop</a>
											</li>
											<li>
												<a href="#">Privacy Policy</a>
											</li>
											<li>
												<a href="#">Terms & Condition</a>
											</li>
											<li>
												<a href="#">Latest News</a>
											</li>
										</ul>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col_6ps1 footer--link">
										<h3 class="title-footer">
											Contact
										</h3>
										<ul class="links">
											<li>
												<a href="../../../../../../about-us.html">About Us</a>
											</li>
											<li>
												<a href="../../../../../../contact-us-v1.html">Contact Us</a>
											</li>
											<li>
												<a href="../../../../../../blog-grid.html">Blog</a>
											</li>
											<li>
												<a href="#">Purchase Theme</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-toggle hidden-lg hidden-md">
				<a class="showmore collapsed" data-toggle="collapse" href="#collapse-footer" aria-expanded="false" aria-controls="collapse-footer">
					<span class="toggle-more"><i class="fa fa-angle-double-down"></i>Show More</span>
					<span class="toggle-less"><i class="fa fa-angle-double-up"></i>Show less</span>
				</a>
			</div>
		</footer>
		<!-- //end Footer Container -->

	</div>

	<div class="back-to-top"><i class="fa fa-angle-up"></i></div> 

<!-- Include Libs & Plugins
	============================================ -->
	<!-- Placed at the end of the document so the pages load faster -->
			<script src="../../static/personal/js/bootstrap-datetimepicker.min.js"></script>
			<script src="../../static/personal/js/bootstrap.min.js"></script>
			<script src="../../static/personal/js/jquery.countdown.min.js"></script>
			<script src="../../static/personal/js/jquery.dcjqaccordion.2.8.min.js"></script>
			<script src="../../static/personal/js/jquery.magnific-popup.min.js"></script>
			<script src="../../static/personal/js/jquery.miniColors.min.js"></script>
			<script src="../../static/personal/js/jquery.nav.js"></script>
			<script src="../../static/personal/js/jquery.unveil.js"></script>
			<script src="../../static/personal/js/jquery-2.2.4.min.js"></script>
			<script src="../../static/personal/js/jquery-ui.min.js"></script>
			<script src="../../static/personal/js/libs.js"></script>
			<script src="../../static/personal/js/modernizr-2.6.2.min.js"></script>
			<script src="../../static/personal/js/moment.js"></script>
			<script src="../../static/personal/js/owl.carousel.js"></script>
			<script src="../../static/personal/js/slick.js"></script>
			<script src="../../static/personal/js/so_megamenu.js"></script>
			<script>
                $(function(){
					id=localStorage.getItem("id");
					$.ajax({

						url:"http://127.0.0.1:8585/back/selectid",
						data:{id:id},
						type:"post",
						dateType:"json",
						success:function(data){
							$("input[name='id']").val(data.data.id);
							$("input[name='name']").val(data.data.name);
							$("input[name='password']").val(data.data.password);
							$("input[name='email']").val(data.data.email);
							$("input[name='phone']").val(data.data.phone);
							$("input[name='zfb']").val(data.data.zfb);
							$("input[name='sex']").val(data.data.sex);
							$("input[name='age']").val(data.data.age);
						},
						error:function(e){
							alert("请求失败！");
						}
					})
					//为登录按钮绑定单击事件
                    $("#submit").click(function(){
                            return login();
                    })
                })

                function login(){
					id=localStorage.getItem("id");
                    var name=$("input[name='name']").val();
                    var password=$("input[name='password']").val();
                    var email=$("input[name='email']").val();
                    var phone=$("input[name='phone']").val();
					var zfb=$("input[name='zfb']").val();
					var sex=$("input[name='sex']").val();
					var age=$("input[name='age']").val();
                    $.ajax({
                        url:"http://127.0.0.1:8585/back/updateUser",
                        data:{id:id,name:name,sex:sex,password:password,email:email,
						phone:phone,zfb:zfb,sex:sex,age:age},
                        type:"post",
                        dateType:"json",
                        success:function(data){
                                    alert("修改成功！");
                        },
                        error:function(e){
                            alert("请求失败！");
                        }
                    })
                }
				if (localStorage.getItem("name")!=null) {
					$("#logo").text(localStorage.getItem("name"));
					$('#logo').attr('href','');
				}else {
					$("#logo").text('登陆');
					$('#logo').attr('href','login.html');
				}
			</script>

		</div>
	</div>
		</body>
		</html>