<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Basic page needs
		============================================ -->
	<title>PortKey</title>
	<meta charset="utf-8">
	<meta name="keywords"
		  content="html5 template, best html5 template, best html template, html5 basic template, multipurpose html5 template, multipurpose html template, creative html templates, creative html5 templates"/>
	<meta name="description"
		  content="PortKey is a beautiful and creative travel booking HTML template for any travel designs"/>
	<meta name="author" content="Magentech">
	<meta name="robots" content="index, follow"/>
	<!-- Mobile specific metas
        ============================================ -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- Favicon
        ============================================ -->

	<!-- Libs CSS
        ============================================ -->
	<link rel="stylesheet" th:href="@{/plugins/css/bootstrap/css/bootstrap.min.css}">
	<link th:href="@{/plugins/css/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
	<link th:href="@{/plugins/js/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet">
	<link th:href="@{/plugins/js/owl-carousel/owl.carousel.css}" rel="stylesheet">
	<link th:href="@{/plugins/css/themecss/lib.css}" rel="stylesheet">
	<link th:href="@{/plugins/js/jquery-ui/jquery-ui.min.css}" rel="stylesheet">
	<link th:href="@{/plugins/js/minicolors/miniColors.css}" rel="stylesheet">
	<link th:href="@{/plugins/js/slick-slider/slick.css}" rel="stylesheet">
	<!-- Theme CSS
        ============================================ -->
	<link th:href="@{/plugins/css/themecss/so_sociallogin.css}" rel="stylesheet">
	<link th:href="@{/plugins/css/themecss/so_searchpro.css}" rel="stylesheet">
	<link th:href="@{/plugins/css/themecss/so_megamenu.css}" rel="stylesheet">
	<link th:href="@{/plugins/css/themecss/so-listing-tabs.css}" rel="stylesheet">
	<link th:href="@{/plugins/css/themecss/so-newletter-popup.css}" rel="stylesheet">
	<link th:href="@{/plugins/css/footer/footer2.css}" rel="stylesheet">
	<link th:href="@{/plugins/css/header/header2.css}" rel="stylesheet">
	<link id="color_scheme" th:href="@{/plugins/css/home2.css}" rel="stylesheet">
	<link th:href="@{/plugins/css/responsive.css}" rel="stylesheet">
	<link th:href="@{/plugins/css/quickview/quickview.css}" rel="stylesheet">
	<!-- Google web fonts
        ============================================ -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:600,700,800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600,700,800&display=swap"
		  rel="stylesheet">
	<style type="text/css">
		body {
			font-family: 'Libre Franklin', sans-serif;
		}
	</style>
	<script th:src="@{/admin/js/common.js}"></script>
	<script th:src="@{/admin/js/x-layui.js}" charset="utf-8"></script>


</head>

<body class="common-home ltr layout-2">
	<div id="wrapper" class="wrapper-fluid banners-effect-11">
		<!-- Header Container  -->
		<header id="header" class="typeheader-2">
			<!-- Header Top -->
			<div class="header-top hidden-compact">
				<div class="container">
					<div class="row">

						<div class="col-lg-3 col-xs-6 header-logo pull-left">
							<div class="navbar-logo">
								<a href="index.html"><img src="./plugins/image/logo.png"
														  alt="Your Store" width="118" height="36"
														  title="Your Store"></a>
							</div>
						</div>

						<div class="book pull-right" id="log">
							<a href="login.html" id="logo">登陆</a>
							<div class="layui-side-scroll">
							</div>
						</div>


						<div class="col-lg-3 col-xs-3 header-logo pull-left">
							<div class="navbar-logo">
								<a href="#"><img th:src="@{/plugins/catalog/demo/logo/logo2.png}" alt="Your Store" width="131" height="40" title="Your Store"></a>
							</div>
						</div>
						<div class="bonus-login pull-right">
							<h1><a data-toggle="modal" data-target="#so_sociallogin" href="login.html">Login</a></h1>
						</div>
						<!-- Menuhome -->
						<div class="header-menu pull-right">
							<div class="megamenu-style-dev megamenu-dev">
								<div class="responsive">
									<nav class="navbar-default">
										<div class="container-megamenu horizontal">
											<div class="navbar-header">
												<button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
												</button>
											</div>
											<div class="megamenu-wrapper">
												<span id="remove-megamenu" class="fa fa-times"></span>
												<div class="megamenu-pattern">
													<div class="container">
														<ul class="megamenu" data-transition="slide" data-animationtime="500">
															<li class="menu-home with-sub-menu hover">
																<p class="close-menu"></p>
																<a href="/admin/preindex.html" class="clearfix">
																	<strong>
																		Home
																	</strong>
																</a>
															</li>
															<li class="style-page with-sub-menu hover">
																<p class="close-menu"></p>
																<a  class="clearfix">
																	<strong>
																		Pages
																	</strong>
																</a>
																<div class="sub-menu" style="width: 100%;">
																	<div class="content" >
																		<div class="row">
																			<div class="col-md-12">
																				<ul class="row-list">
																					<li><a class="subcategory_item" href="/admin/about-us">About us</a></li>
																					<li><a class="subcategory_item" href="/admin/contact-us">Contact us</a></li>
																					<li><a class="subcategory_item" href="/admin/faq">Faq</a></li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
															<!--<li class="menu-home with-sub-menu hover">
																<p class="close-menu"></p>
																<a href="/admin/login.html" class="clearfix">
																	<strong>
																		Login
																	</strong>
																</a>
															</li>-->
														</ul>
													</div>
												</div>
											</div>
										</div>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //Header Top -->
		</header>
		<!-- //Header Container  -->

		<div class="modal fade in" id="so_sociallogin" tabindex="-1" role="dialog" aria-hidden="true" >
			<div class="modal-dialog block-popup-login">
				<a href="javascript:void(0)" title="Close" class="close close-login fa fa-times-circle" data-dismiss="modal"></a>
				<div class="tt_popup_login"><strong>Sign in Or Register</strong></div>
				<div class="block-content">
					<div class=" col-reg registered-account">
						<div class="block-content">
							<form class="form form-login" action="#" method="post" id="login-form">
								<fieldset class="fieldset login" data-hasrequired="* Required Fields">
									<div class="field email required email-input">
										<div class="control">
											<input name="email" value="" autocomplete="off" id="email" type="email" class="input-text" title="Email" placeholder="E-Mail Address">
										</div>
									</div>
									<div class="field password required pass-input">
										<div class="control">
											<input name="password" type="password" autocomplete="off" class="input-text" id="pass" title="Password" placeholder="Password">
										</div>
									</div>
									<div class="secondary ft-link-p"><a class="action remind" href="#"><span>Forgot Your Password?</span></a></div>
									<div class="actions-toolbar">
										<div class="primary">
											<button type="submit" class="action login primary" name="send" id="send2"><span>Login</span></button>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
					<div class="col-reg login-customer">
						<h2>NEW HERE?</h2>
						<p class="note-reg">Registration is free and easy!</p>
						<ul class="list-log">
							<li>Fast</li>
							<li>Cheap</li>
							<li>Enjoyable</li>
						</ul>
						<a class="btn-reg-popup" title="Register" href="#">Create an account</a>
					</div>
					<div style="clear:both;"></div>
				</div>
			</div>
		</div>

		<!-- Main Container  -->
		<div id="content">
			<div class="so-page-builder">
				<div class="page-builder-ltr">
					<div class="row row_a90w row-style">
						<!--- SLider right--> 
						<div class="module sohomepage-slider so-homeslider-ltr">
							<div class="modcontent">
								<div id="sohomepage-slider2" class="slider-home2">
									<div class="so-homeslider yt-content-slider full_slider owl-drag" data-rtl="yes" data-autoplay="yes" data-autoheight="no" data-delay="4" data-speed="0.6" data-items_column00="1" data-items_column0="1" data-items_column1="1" data-items_column2="1"  data-items_column3="1" data-items_column4="1" data-arrows="yes" data-pagination="yes" data-lazyload="yes" data-loop="yes" data-hoverpause="yes">
										<div class="item">
											<a href="#" title="slide 1 - 1" >
												<img class="responsive" th:src="@{/plugins/image/catalog/demo/slider/home2/slider.jpg}" alt="slide 1 - 1">
											</a>
										</div>
										<div class="item">
											<a href="#" title="slide 1 - 2" >
												<img class="responsive" th:src="@{/plugins/image/catalog/demo/slider/home2/slider.jpg}" alt="slide 1 - 1">
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="travel-search-content2">
					<div class="container page-builder-ltr">
						<div class="row">
							<div class="travl-search-advanced clearfix">
								<h2>Go search for your hotel right now!</h2>
								<div class="button-submit pull-left">
									<a href="./tour.html"><button class="button"><i class="fa fa-paper-plane" aria-hidden="true"> </i></button></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<section class="section-home2-style1">
					<div class="container page-builder-ltr">
						<div class="row row-style row_a1">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
								<div class="module so-deals-1tr so-deals">
									<div class="head-title clearfix">
										<div class="block-title pull-left">
											<h3><span>popular destinations</span></h3>
										</div>
										<a href="/tour" class="pull-right">view all <i class="fa fa-angle-right" aria-hidden="true"></i></a>
									</div>
									<div class="modcontent">
										<div class="so-deal modcontent products-list grid clearfix clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1  button-type1  style2">
											<div class="category-slider-inner products-list yt-content-slider" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column00="3" data-items_column0="3" data-items_column1="3" data-items_column2="2"  data-items_column3="2" data-items_column4="1" data-arrows="no" data-pagination="no" data-lazyload="yes" data-loop="yes" data-hoverpause="yes">
												<div class="item">
													<div class="item-inner">
														<div class="transition product-layout">
															<div class="product-item-container ">
																<div class="item-block so-quickview">
																	<div class="image">
																		<img th:src="@{/plugins/image/catalog/demo/product/travel/p1.jpg}" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																		<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																		<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																	</div>
																	<div class="item-content clearfix">
																		<h3>2 Day 1 Night Trip to Santorini, Greece</h3>
																		<div class="reviews-content">
																			<div class="star">
																				<span style="width: 60px"></span>	
																			</div>
																			<a href="#" class="review-link" rel="nofollow">(15 reviews)</a>
																		</div>
																		<ul>
																			<li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
																			<li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
																			<li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 persons</li>
																		</ul>
																		<div class="item-bot clearfix">
																			<div class="price pull-left">
																				from <label>$230</label><span>person</span>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="item-inner">
														<div class="transition product-layout">
															<div class="product-item-container ">
																<div class="item-block so-quickview">
																	<div class="image">
																			<img th:src="@{/plugins/image/catalog/demo/product/travel/p2.jpg}" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																		<span class="label-rate"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																	</div>
																	<div class="item-content clearfix">
																		<h3>The Windmills of Schie-dam, Holland</h3>
																		<div class="reviews-content">
																			<div class="star">
																				<span style="width: 60px"></span>	
																			</div>
																			<a href="#" class="review-link" rel="nofollow">(10 reviews)</a>
																		</div>
																		<ul>
																			<li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
																			<li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
																			<li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 persons</li>
																		</ul>
																		<div class="item-bot clearfix">
																			<div class="price pull-left">
																				from <label>$230</label><span>person</span>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="item-inner">
														<div class="transition product-layout">
															<div class="product-item-container ">
																<div class="item-block so-quickview">
																	<div class="image">

																			<img th:src="@{/plugins/image/catalog/demo/product/travel/p3.jpg}" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">

																		<span class="label-rate"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																	</div>
																	<div class="item-content clearfix">
																		<h3>2 Day 1 Night Trip to Santorini, Greece</h3>
																		<div class="reviews-content">
																			<div class="star">
																				<span style="width: 60px"></span>	
																			</div>
																		</div>
																		<ul>
																			<li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
																			<li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
																			<li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 persons</li>
																		</ul>
																		<div class="item-bot clearfix">
																			<div class="price pull-left">
																				from <label>$800</label><span>person</span>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section-home2-style2">
					<div class="container page-builder-ltr">
						<div class="row row-style row_a1">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
								<div class="module so-deals-1tr so-deals">
									<div class="head-title clearfix">
										<div class="block-title pull-left">
											<h3><span>Tour all around the world</span></h3>
										</div>
										<a href="/destination-list" class="pull-right">view all <i class="fa fa-angle-right" aria-hidden="true"></i></a>
									</div>
									<div class="modcontent">
										<div class="so-deal modcontent products-list grid clearfix clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1  button-type1  style2">
											<div class="category-slider-inner products-list yt-content-slider" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column00="4" data-items_column0="4" data-items_column1="4" data-items_column2="2"  data-items_column3="2" data-items_column4="1" data-arrows="no" data-pagination="no" data-lazyload="yes" data-loop="yes" data-hoverpause="yes">
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="/destination-detail" >
																		<img th:src="@{/plugins/image/catalog/demo/product/travel/chosse1.jpg}" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																	</a>
																</div>
																<div class="item-content">
																	<div class="item-title clearfix">
																		<h3 class="pull-left"><a href="/destination-detail"><i class="fa fa-map-marker" aria-hidden="true"></i> England</a></h3>
																		<span class="pull-right">14 tours</span>
																	</div>			
																	<div class="view-all"><a href="/destination-list">View all tour <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="/destination-detail" >
																		<img th:src="@{/plugins/image/catalog/demo/product/travel/chosse2.jpg}" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																	</a>
																</div>
																<div class="item-content">
																	<div class="item-title clearfix">
																		<h3 class="pull-left"><a href="/destination-detail"><i class="fa fa-map-marker" aria-hidden="true"></i> France</a></h3>
																		<span class="pull-right">14 tours</span>
																	</div>				
																	<div class="view-all"><a href="/destination-list">View all tour <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="/destination-detail">
																		<img th:src="@{/plugins/image/catalog/demo/product/travel/chosse3.jpg}" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																	</a>
																</div>
																<div class="item-content">
																	<div class="item-title clearfix">
																		<h3 class="pull-left"><a href="/destination-detail"><i class="fa fa-map-marker" aria-hidden="true"></i> Australia</a></h3>
																		<span class="pull-right">14 tours</span>
																	</div>				
																	<div class="view-all"><a href="/destination-list">View all tour <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="/destination-detail">
																		<img th:src="@{/plugins/image/catalog/demo/product/travel/chosse4.jpg}" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																	</a>
																</div>
																<div class="item-content">
																	<div class="item-title clearfix">
																		<h3 class="pull-left"><a href="/destination-detail"><i class="fa fa-map-marker" aria-hidden="true"></i> Laos</a></h3>
																		<span class="pull-right">14 tours</span>
																	</div>				
																	<div class="view-all"><a href="/destination-list">View all tour <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<div class="section-home2-style3">
					<div class="ytvideo" data-video="ibuUmMhD2Pg" style="width:1920px; height:500px; background-image:url(/plugins/image/catalog/demo/banners/home2/video2.jpg)">
						<div class="seo">Travel</div>
					</div>
				</div>
				<section class="section-home2-style4">
					<div class="container page-builder-ltr">
						<div class="row row-style row_a1">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
								<div class="module so-deals-1tr so-deals">
									<div class="head-title clearfix">
										<div class="block-title pull-left">
											<h3><span>Flash deal</span></h3>
											<p>Our best last minutes offers. Book now and go!</p>
										</div>
										<a href="/tour" class="pull-right">view all <i class="fa fa-angle-right" aria-hidden="true"></i></a>
									</div>
									<div class="modcontent">
										<div class="so-deal modcontent products-list grid clearfix clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1  button-type1  style2">
											<div class="category-slider-inner products-list yt-content-slider" data-rtl="yes" data-autoplay="yes" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column00="4" data-items_column0="4" data-items_column1="4" data-items_column2="2"  data-items_column3="2" data-items_column4="1" data-arrows="no" data-pagination="no" data-lazyload="yes" data-loop="yes" data-hoverpause="yes">
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="#" >
																		<img th:src="@{/plugins/image/catalog/demo/product/travel/t1.jpg}" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																	</a>
																	<span class="price">$230</span>
																	<span class="label-bolt"><i class="fa fa-bolt" aria-hidden="true"></i></span>
																</div>
																<div class="item-content">
																	<h3><a href="#">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																	<div class="reviews-content">
																		<div class="star">
																			<span style="width: 60px"></span>	
																		</div>
																	</div>
																	<ul>
																		<li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
																		<li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
																		<li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 Pers</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="#" >
																		<img th:src="@{/plugins/image/catalog/demo/product/travel/t2.jpg}" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																	</a>
																	<span class="price">$230</span>
																	<span class="label-bolt"><i class="fa fa-bolt" aria-hidden="true"></i></span>
																</div>
																<div class="item-content">
																	<h3><a href="#">The Windmills of Schie-dam, Holland</a></h3>
																	<div class="reviews-content">
																		<div class="star">
																			<span style="width: 60px"></span>	
																		</div>
																	</div>
																	<ul>
																		<li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
																		<li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
																		<li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 Pers</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="#" >
																		<img th:src="@{/plugins/image/catalog/demo/product/travel/t3.jpg}" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																	</a>
																	<span class="price">$230</span>
																	<span class="label-bolt"><i class="fa fa-bolt" aria-hidden="true"></i></span>
																</div>
																<div class="item-content">
																	<h3><a href="#">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																	<div class="reviews-content">
																		<div class="star">
																			<span style="width: 60px"></span>	
																		</div>
																	</div>
																	<ul>
																		<li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
																		<li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
																		<li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 Pers</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="#" >
																		<img th:src="@{/plugins/image/catalog/demo/product/travel/t4.jpg}" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																	</a>
																	<span class="price">$230</span>
																	<span class="label-bolt"><i class="fa fa-bolt" aria-hidden="true"></i></span>
																</div>
																<div class="item-content">
																	<h3><a href="#">The Windmills of Schie-dam, Holland</a></h3>
																	<div class="reviews-content">
																		<div class="star">
																			<span style="width: 60px"></span>	
																		</div>
																	</div>
																	<ul>
																		<li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
																		<li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
																		<li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 Pers</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section-home2-style7">
					<div class="container page-builder-ltr">
						<div class="head-title clearfix">
							<div class="block-title pull-left">
								<h3><span>Join the newsletter</span></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
						<div class="sw-newletter">				
							<form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-838" method="post" data-id="838" data-name="">
								<div class="mc4wp-form-fields">
									<input class="frm-email" type="email" name="EMAIL" placeholder="Enter Your email..." required="">  
									<button class="frm-submit" type="submit" value="subscribe">SUBSCRIBE</button>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</div>
		<!-- //Main Container -->
		<!-- Footer Container -->
		<footer class="footer-container typefooter-2">
			<div class="footer-has-toggle collapse" id="collapse-footer">
				<div class="so-page-builder">
					<div class="container-fluid page-builder-ltr">
						<div class="row row_mvtd  footer--center2  row-color ">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_6fdl float_none container">
								<div class="row row_hwmc  ">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col_6ps1 footer--link">
										<div class="footer-logo">
											<a href="#"><img th:src="@{/plugins/image/logo/logo-footer.png}" alt="Your Store" width="194" height="59" title="Your Store"></a>
										</div>
										<ul class="about-list">
											<li><i class="fa fa-map-marker" aria-hidden="true"></i><span class="ab-pd">2 Chuanda Road, Shuangliu , Chengdu</span></li>
											<li class="call-mail"><i class="fa fa-paper-plane" aria-hidden="true"></i><a class="ab-pd" href="mailto:contact@example.com">contact@example.com</a></li>
											<li class="call-phone"><i class="fa fa-mobile" aria-hidden="true"></i><a class="ab-pd" href="#">86 0000-0000</a></li>
										</ul>					
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col_6ps1 footer--link">
										<h3 class="title-footer">Useful Links</h3>
										<ul class="links">
											<li>
												<a href="javascript:;">Home</a>
											</li>
										</ul>
									</div>
									<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 col_6ps1 footer--link">
										<h3 class="title-footer">Contact</h3>
										<ul class="links">
											<li>
												<a href="/about-us">About Us</a>
											</li>
											<li>
												<a href="/contact-us">Contact Us</a>
											</li>
										</ul>
									</div>
									<div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 col_6ps1 footer--link">
										<h3 class="title-footer">Top Destination</h3>
										<div class="foot-slider clearfix">
											<div class="item pull-left">
												<div class="item-inner">
													<a href="#"><img th:src="@{/plugins/image/catalog/demo/banners/home2/gallery1.jpg}" alt="Aestibulum ipsum a ornare car"></a>
												</div>
												<div class="item-inner">
													<a href="#"><img th:src="@{/plugins/image/catalog/demo/banners/home2/gallery2.jpg}" alt="Aestibulum ipsum a ornare car"></a>
												</div>
											</div>
											<div class="item pull-left">
												<div class="item-inner">
													<a href="#"><img th:src="@{/plugins/image/catalog/demo/banners/home2/gallery3.jpg}" alt="Aestibulum ipsum a ornare car"></a>
												</div>
												<div class="item-inner">
													<a href="#"><img th:src="@{/plugins/image/catalog/demo/banners/home2/gallery4.jpg}" alt="Aestibulum ipsum a ornare car"></a>
												</div>
											</div>
											<div class="item pull-left">
												<div class="item-inner">
													<a href="#"><img th:src="@{/plugins/image/catalog/demo/banners/home2/gallery5.jpg}" alt="Aestibulum ipsum a ornare car"></a>
												</div>
												<div class="item-inner">
													<a href="#"><img th:src="@{/plugins/image/catalog/demo/banners/home2/gallery6.jpg}" alt="Aestibulum ipsum a ornare car"></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-toggle hidden-lg hidden-md">
				<a class="showmore collapsed" data-toggle="collapse" href="#collapse-footer" aria-expanded="false" aria-controls="collapse-footer">
					<span class="toggle-more"><i class="fa fa-angle-double-down"></i>Show More</span> 
					<span class="toggle-less"><i class="fa fa-angle-double-up"></i>Show less</span>            
				</a>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 copyright">
							PortKey ©2020. All Rights Reserved.
						</div>
						<div class="col-md-6 col-sm-6 social">
							<h3>Follows Us:</h3>
							<ul>
								<li><a href="https://www.facebook.com/" title="Face Book"><span class="fa fa-facebook"></span></a></li>
								<li><a href="https://twitter.com/" title="Twitter"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#" title="Instagram"><span class="fa fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- //end Footer Container -->
	</div>
	<div class="back-to-top"><i class="fa fa-angle-up"></i></div>
	<!-- End Color Scheme
		============================================ -->
	<!-- Include Libs & Plugins
	============================================ -->
	<a href=""></a>
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" th:src="@{/plugins/js/jquery-2.2.4.min.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/js/themejs/so_megamenu.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/js/owl-carousel/owl.carousel.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/js/slick-slider/slick.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/js/themejs/libs.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/js/unveil/jquery.unveil.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/js/countdown/jquery.countdown.min.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/js/datetimepicker/moment.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/js/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/js/jquery-ui/jquery-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/js/modernizr/modernizr-2.6.2.min.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/js/minicolors/jquery.miniColors.min.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/js/jquery.nav.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/js/quickview/jquery.magnific-popup.min.js}"></script>
<!-- Theme files
	============================================ -->
	<script type="text/javascript" th:src="@{/plugins/js/themejs/application.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/js/themejs/homepage.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/js/themejs/custom_h2.js}"></script>

	<script>
		$(function () {
			id = localStorage.getItem("id");
			$.ajax({

				url: "http://127.0.0.1:8585/back/selectid",
				data: {id: id},
				type: "post",
				dateType: "json",
				success: function (data) {
					$("input[name='id']").val(data.data.id);
					$("input[name='name']").val(data.data.name);
					$("input[name='password']").val(data.data.password);
					$("input[name='email']").val(data.data.email);
					$("input[name='phone']").val(data.data.phone);
					$("input[name='zfb']").val(data.data.zfb);
					$("input[name='sex']").val(data.data.sex);
					$("input[name='age']").val(data.data.age);
				},
				error: function (e) {
					alert("请求失败！");
				}
			})
			//为登录按钮绑定单击事件
			$("#submit").click(function(){
				return login();
			})
		})


		if (localStorage.getItem("name")!=null) {
			$("#logo").text(localStorage.getItem("name"));
			$('#logo').attr('href','personal.html');
		}else {
			$("#logo").text('登陆');
			$('#logo').attr('href','login.html');
		}
	</script>

</body>

</html>