<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>pay failed</title>
</head>
<link th:href="@{plugins/js/owl-carousel/owl.carousel.css}" rel="stylesheet">
<link th:href="@{plugins/css/themecss/so_sociallogin.css}" rel="stylesheet">
<link th:href="@{plugins/css/themecss/so_searchpro.css}" rel="stylesheet">
<link th:href="@{plugins/css/themecss/so_megamenu.css}" rel="stylesheet">
<script th:src="@{admin/js/common.js}"></script>
<body>
this shows the pay is fail;
</body>
</html>